


ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 556px;
  background-image: linear-gradient(to right ,#85c9d3, #1898ac, #0691a7be) ;
  float: left;
  
}

ul li {
  float: left;

}

ul a {
  display: block;
  padding: 0 2em;
  line-height: 2em;
  text-decoration: none;
  color: white;
  background: url(/udemy.courses/imagens/divisor.png) repeat-y;
}

ul a:hover {
  color: #085662;
  background: #44cade;
}