@charset "UTF-8";


body{
    background-color: brown;
    font-family: Verdana;
    font-size: 20px;
    text-align:center;
}

h1{
    color:lightgoldenrodyellow;

}

h2{
    color:lightgoldenrodyellow;

}