body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

div {
  margin: 0px 15px 16px 10px;
}

fieldset {
  padding: 1em;
  margin: 1em 0;

}

legend {
  font-weight: bold;

}
label {
  display: block;
  cursor: pointer;
}

input[type="text"] {
  width: 20em;


}

input[type="radio"] {
  margin: 5px;
}

